@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@900&display=swap');

/* コメント出現時間 */
:root {
 --lcv-lifetime: 30000ms
}

/* 文字のサイズとフォント */
body {
 font-size: 36px;
 font-family: 'Zen Maru Gothic', serif;
}


/* 名前 */
.name {
 font-size: 32px;
 font-weight: bold;
 text-shadow: none;
}

.comments {
 position: relative;
 transform-style: preserve-3d;
}




/* コメントの枠 */
.comment {
 padding: 24px 36px 36px 36px;
 border-radius: 20px; 
animation: fadeInUp 0.5s ease forwards;
}



/* コメントのかぎ */
.comment::after {
 content: "";
 position: absolute;
 bottom: -40px;
 left: 50%;
 transform: translateX(-50%);
 border: 20px solid transparent;
 border-top-color: var(--lcv-background-color);
}

/* コメント文字色 */
.comment-text {
 text-shadow: none;
}

@keyframes fadeInUp {
 0% {
  opacity: 0;
  transform: translateY(100%);
 }

 100% {
  opacity: 1;
  transform: translateY(0);
 }
}